@{
    Layout = "~/layout/_base.cshtml";

    List<string[]> productPC = new List<string[]>();
    productPC.Add(new string[] { "1", "/images/products/pc1.png", "ADVANCED<sup>®</sup> AEROSOL<br/>  MULTI-INSECT KILLER", "Advanced<sup>®</sup> Aerosol Multi-Insect Killer knocks out and kills mosquitoes, flies and cockroaches. It delivers 100% knockdown of cockroaches and mosquitoes that cause dengue. Best of all, it is 100% odorless so it has no irritating smell while and after spraying. <br/><br/> For best results and longer lasting effect, close all doors and windows before spraying, then wait for 30 minutes before re-entering the sprayed area.<br/><br/><small>Sizes: 600 mL, 500 mL, 300 mL</small>" });
    productPC.Add(new string[] { "2", "/images/products/pc2.png", "ADVANCED<sup>®</sup> AEROSOL<br/> MOSQUITO KILLER", "Advanced<sup>®</sup> Aerosol Mosquito Killer has a breakthrough formula with the <b>Fastest Dual Knockdown</b>. It contains SumiOne®, the most active anti-mosquito chemical with extremely fast knockdown against various insects, and Imiprothrin for boosted action against larger insects. It is odorless so there's none of the irritating scent after spraying. <br/><br/> For best results and longer lasting effect, close all doors and windows before spraying, then wait for 30 minutes before re-entering the sprayed area.<br/><br/><small>Sizes: 600 mL, 500 mL, 300 mL</small>" });
    productPC.Add(new string[] { "3", "/images/products/pc3.png", "ADVANCED<sup>®</sup> CHALK<br/>  COCKROACH & ANT KILLER", "Advanced<sup>®</sup> Chalk kills cockroaches, ants, and other crawling insects fast. It stays effective for weeks, helping eliminate infestations in your home or establishment.<br/><br/><small>Size: 15 grams</small>" });
    productPC.Add(new string[] { "4", "/images/products/pc4.png", "BANZAI<sup>®</sup> PEST CATCH SHEET", "Banzai<sup>®</sup> Pest Catch Sheet contains a super-strong adhesive that is sure to catch flies and even mice. It is safe, non-toxic and easy to use. Made in Japan. <br/><br/><small>Size: 7 x 10 inches</small>" });
    productPC.Add(new string[] { "5", "/images/products/pc5.png", "BLATTANEX<sup>®</sup> COCKROACH GEL", "Blattanex<sup>®</sup> Gel has a breakthrough formulation that gives optimum protection against cockroaches. It contains Imidacloprid with a unique baiting action that lures cockroaches to feed on the gel. This is Bayer technology in action providing better control and longer protection than ever before.<br/><br/> This 12-gram tube can provide 120 spots and lasts up to 3 months.  <br/><br/><small>Size: 12 grams</small>" });

    List<string[]> productRC = new List<string[]>();
    productRC.Add(new string[] { "1", "/images/products/rc1.png", "RACUMIN<sup>®</sup> TRACKING POWDER", "Racumin<sup>®</sup> Tracking Powder with Coumatetralyl eliminates rats effectively. It kills rodents in two ways. It can be sprinkled as powder along runways and nests as it sticks to their fur and feet, and is ingested as they clean themselves. It can also be mixed with food as bait. <br/><br/>Trusted worldwide, Racumin<sup>®</sup> is effective in the control of rodents in homes, gardens, and other places where rats frequent.  <br/><br/><small>Sizes: 100 grams, 50 grams, 20 grams</small>" });
    productRC.Add(new string[] { "2", "/images/products/rc2.png", "RACUMIN<sup>®</sup> READY-MADE BAIT", "Racumin<sup>®</sup> Ready-Made Bait with Coumatetralyl has an effective killing action against rats. It is a ready-to-use bait mixture made with fresh fragrant Dinorado rice. Rats mistake it for food and ingest it in lethal doses.<br/><br/>Trusted worldwide, Racumin<sup>®</sup> is effective in the control of rodents in homes, gardens, and other places where rats frequent.  <br/><br/><small>Sizes: 200 grams, 100 grams, 50 grams</small>" });
    productRC.Add(new string[] { "3", "/images/products/rc3.png", "RACUMIN<sup>®</sup> PASTE", "Racumin<sup>®</sup> Paste with Coumatetralyl is a ready-to-use bait that controls rat population. It is contained in a biodegradable sachet and has Bitrex, a bittering agent that is tasty and attractive to rats but not to humans and pets. It is also ideal for use in outdoor locations such as sewage systems, dumps, and hard-to-reach places like rain gutters and roofs.<br/><br/>Trusted worldwide, Racumin<sup>®</sup> is effective in the control of rodents in homes, gardens, and other places where rats frequent. <br/><br/><small>Sizes: 100 grams</small>" });

    List<string[]> productPETC = new List<string[]>();
    productPETC.Add(new string[] { "1", "/images/products/petc1.png", "BAYOPET<sup>®</sup> TICK & FLEA SOAP", "Bayopet<sup>®</sup> Tick & Flea Soap with Coumaphos thoroughly cleans and is gentle on dog’s skin. It kills and controls ticks, fleas and lice on dogs while leaving a fresh lemon scent.<br/><br/><small>Size: 90 grams</small>" });
    productPETC.Add(new string[] { "2", "/images/products/petc2.png", "BAYOPET<sup>®</sup> ANTIFLEA SHAMPOO", "Bayopet<sup>®</sup> Antiflea Shampoo with Propoxur thoroughly cleans while effectively treating fleas and lice on dogs. Keep your pet happy and pest-free with this specially formulated shampoo. <br/><br/><small>Size: 200mL, 100mL, 20mL</small>" });
    productPETC.Add(new string[] { "3", "/images/products/petc3.png", "BAYOPET<sup>®</sup> ANTIFLEA POWDER", "Bayopet<sup>®</sup> Antiflea Powder with Propoxur effectively controls flea population on dogs, cats, puppies and kittens. It is best recommended during wet and cold seasons, and for pets that are too young to bathe.<br/><br/><small>Size: 60 grams</small>" });
    productPETC.Add(new string[] { "4", "/images/products/petc4.png", "BAYOPET<sup>®</sup> TICK & FLEA COLLAR", "Bayopet<sup>®</sup> Tick & Flea Collar with Propoxur is anti-parasitic and is effective in preventing reinfestation of ticks and fleas within 24 hours. It helps your dog stay flea- and tick-free for up to 10 weeks.<br/><br/><small>Size: 70 cm</small>" });

    List<string[]> productPETCS = new List<string[]>();
    productPETCS.Add(new string[] { "1", "/images/products/petcs1.png", "BAYOPET<sup>®</sup> SOAP <br/>CLEAN N’ SHINE", "Bayopet Clean n’ Shine Organic Soap contains  D-Panthenol and jojoba oil that gently cleans your dog’s coat, leaving it soft, smooth and tangle-free. It helps maintain a healthy and glossy fur for more fun cuddles and play time.<br/><br/><small>Size: 90 grams</small>" });
    productPETCS.Add(new string[] { "2", "/images/products/petcs2.png", "BAYOPET<sup>®</sup> SOAP <br/>COCONUT MILK", "Bayopet<sup>®</sup> Coconut Milk Organic Soap has tea tree oil and coconut milk that helps heal and soothe dry skin irritations while refreshing and restoring the natural coat of your dog. No more itchy worries for your pet.<br/><br/><small>Size: 90 grams</small>" });
    productPETCS.Add(new string[] { "3", "/images/products/petcs3.png", "BAYOPET<sup>®</sup> SOAP <br/>ALOE VERA", "Bayopet<sup>®</sup> Aloe Vera Organic Soap helps promote hair growth, leaving your dog’s coat thick and silky with a fresh-smelling balsam scent. No more of that sweaty dog smell.<br/><br/><small>Size: 90 grams</small>" });

    List<string[]> productPETCVSH = new List<string[]>();
    productPETCVSH.Add(new string[] { "1", "/images/products/petcsh1.png", "BAYOPET<sup>®</sup> SHAMPOO <br/>CONDITIONING", "Bayopet<sup>®</sup> Conditioning Shampoo is a mild shampoo and conditioner formula with apple fragrance that contains jojoba oil and    D-Panthenol. It helps soften your dog’s coat from head to tail, making it smooth, tangle-free and smelling fresh.<br/><br/><small>Size: 275 mL</small>" });
    productPETCVSH.Add(new string[] { "2", "/images/products/petcsh2.png", "BAYOPET<sup>®</sup> SHAMPOO <br/>HAIR GROWER", "Bayopet<sup>®</sup> Herbal Hair Grower Shampoo is an all-natural mild shampoo and conditioner formula with aloe vera extract that promotes hair growth and maintains your dog’s silky coat. It also works for limp coats by making them thick and full while relieving discomfort of dry and itchy skin.<br/><br/><small>Size: 275 mL</small>" });
    productPETCVSH.Add(new string[] { "3", "/images/products/petcsh3.png", "BAYOPET<sup>®</sup> MOISTURIZING & ANTISEPTIC SHAMPOO", "Bayopet<sup>®</sup> Moisturizing & Antiseptic Shampoo is recommended for pets with dry, sensitive skin. It is a mild shampoo formula infused with the moisturizing properties of coconut milk. It also has the antiseptic properties of tea tree oil that restores your dog’s natural coat oil, and relieves skin irritation.<br/><br/><small>Size: 275 mL</small>" });
}
@section styles{
    <style type="text/css">
        section {
            height: 800px;
        }

        .nm-bebas-kai-font {
            font-size: 42px;
            color: #626161;
        }

        .media-body {
            vertical-align: middle;
            font-family: 'Helvetica-Regular-NM';
            font-size: 17px;
        }

        .list-group-item {
            cursor: pointer;
            border: 0px;
            background-color: transparent;
        }

        .panel-title {
            font-size: 12px;
            font-family: Arial, sans-serif;
        }

        .list-group {
            font-size: 10px;
        }

        .panel {
            border: 0px;
            text-align: right;
            background-color: transparent;
        }

        .panel-group {
            border-right: 1px solid #b4b4b4;
        }

            .panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
                border: 0px;
            }

        .panel-default > .panel-heading {
            background-color: transparent;
        }

        .media-heading {
            padding-top: 100px;
        }

        .fsize {
            font-size: 15px;
        }
    </style>
}
@section scripts{
    <script>
        $('.mnuProduct').addClass('active-menu');
        $(document).ready(function () {
            $("#productsItems").children(".collapse").on('show.bs.collapse', function () {
                $(this).parent().children(".collapse.in").removeClass("in");
            });
        });

        function closeCollapse() {
            $("#productsItems").children(".collapse.in").removeClass("in");
        }
    </script>

}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <img class="img-responsive" src="~/images/products/productbanner.png" alt="product banner" />
        </div>
    </div>
    <div class="row" style="margin-top:33px;">
        <div class="col-lg-4 nm-arial-font">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" onclick="closeCollapse();"><b>INSECT CONTROL</b></a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item" data-toggle="collapse" data-target="#productPC1">ADVANCED<sup>®</sup> AEROSOL MULTI-INSECT KILLER</li>
                            <li class="list-group-item" data-toggle="collapse" data-target="#productPC2">ADVANCED<sup>®</sup> AEROSOL MOSQUITO KILLER </li>
                            <li class="list-group-item" data-toggle="collapse" data-target="#productPC3">ADVANCED<sup>®</sup> CHALK COCKROACH & ANT KILLER</li>
                            <li class="list-group-item" data-toggle="collapse" data-target="#productPC4">BANZAI<sup>®</sup> PEST CATCH SHEET</li>
                            <li class="list-group-item" data-toggle="collapse" data-target="#productPC5">BLATTANEX<sup>®</sup> COCKROACH GEL</li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" onclick="closeCollapse();"><b>RODENT CONTROL</b></a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item" data-toggle="collapse" data-target="#productRC1">RACUMIN<sup>®</sup> TRACKING POWDER</li>
                            <li class="list-group-item" data-toggle="collapse" data-target="#productRC2">RACUMIN<sup>®</sup> READY-MADE BAIT</li>
                            <li class="list-group-item" data-toggle="collapse" data-target="#productRC3">RACUMIN<sup>®</sup> PASTE</li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" onclick="closeCollapse();"><b>PET CARE</b></a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item" data-toggle="collapse" data-target="#productPETC1">BAYOPET<sup>®</sup> TICK & FLEA SOAP</li>
                            <li class="list-group-item" data-toggle="collapse" data-target="#productPETC2">BAYOPET<sup>®</sup> ANTIFLEA SHAMPOO</li>
                            <li class="list-group-item" data-toggle="collapse" data-target="#productPETC3">BAYOPET<sup>®</sup> ANTIFLEA POWDER</li>
                            <li class="list-group-item" data-toggle="collapse" data-target="#productPETC4">BAYOPET<sup>®</sup> TICK & FLEA COLLAR</li>
                            <li class="list-group-item" data-toggle="collapse" data-target="#productPETCS1">BAYOPET<sup>®</sup> CLEAN N’ SHINE ORGANIC SOAP</li>
                            <li class="list-group-item" data-toggle="collapse" data-target="#productPETCS2">BAYOPET<sup>®</sup> COCONUT MILK ORGANIC SOAP</li>
                            <li class="list-group-item" data-toggle="collapse" data-target="#productPETCS3">BAYOPET<sup>®</sup> ALOE VERA ORGANIC SOAP</li>
                            <li class="list-group-item" data-toggle="collapse" data-target="#productPETCVSH1">BAYOPET<sup>®</sup> CONDITIONING SHAMPOO</li>
                            <li class="list-group-item" data-toggle="collapse" data-target="#productPETCVSH2">BAYOPET<sup>®</sup> HERBAL HAIR GROWER SHAMPOO</li>
                            <li class="list-group-item" data-toggle="collapse" data-target="#productPETCVSH3">BAYOPET<sup>®</sup> MOISTURIZING & ANTISEPTIC SHAMPOO</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div id="productsItems">

                @foreach (var item in productPC)
                {
                    var id = "productPC" + item[0];
                    @*var isCollapse = "in";

                        if (item[0] != "1")
                        {
                            isCollapse = "";
                        }

                        <div id="@id" class="collapse @isCollapse">*@
                    <div id="@id" class="collapse">
                        <div>
                            <img class="img-responsive" src="@item[1]" style="float:left; margin-right:10px; margin-bottom:50px;" />
                            <h3 class="media-heading nm-bebas-kai-font">@Html.Raw(item[2])</h3>
                            <p class="text-justify fsize">@Html.Raw(item[3])</p>
                        </div>
                    </div>
                }

                @foreach (var item in productRC)
                {
                    var id = "productRC" + item[0];

                    <div id="@id" class="collapse">
                        <div>
                            <img class="img-responsive" src="@item[1]" style="float:left; margin-right:10px;" />
                            <h3 class="media-heading nm-bebas-kai-font">@Html.Raw(item[2])</h3>
                            <p class="text-justify fsize">@Html.Raw(item[3])</p>
                        </div>
                    </div>
                }

                @foreach (var item in productPETC)
                {
                    var id = "productPETC" + item[0];

                    <div id="@id" class="collapse">
                        <div>
                            <img class="img-responsive" src="@item[1]" style="float:left; margin-right:10px;" />
                            <h3 class="media-heading nm-bebas-kai-font">@Html.Raw(item[2])</h3>
                            <p class="text-justify fsize">@Html.Raw(item[3])</p>
                        </div>
                    </div>
                }
                @foreach (var item in productPETCS)
                {
                    var id = "productPETCS" + item[0];

                    <div id="@id" class="collapse">
                        <div>
                            <img class="img-responsive" src="@item[1]" style="float:left; margin-right:10px;" />
                            <h3 class="media-heading nm-bebas-kai-font">@Html.Raw(item[2])</h3>
                            <p class="text-justify fsize">@Html.Raw(item[3])</p>
                        </div>
                    </div>
                }

                @foreach (var item in productPETCVSH)
                {
                    var id = "productPETCVSH" + item[0];

                    <div id="@id" class="collapse">
                        <div>
                            <img class="img-responsive" src="@item[1]" style="float:left; margin-right:10px;" />
                            <h3 class="media-heading nm-bebas-kai-font">@Html.Raw(item[2])</h3>
                            <p class="text-justify fsize">@Html.Raw(item[3])</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
